* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,
html {
  height: 100%;
  /* overflow-x: hidden; */
}
/* Navigation */
.amatic {
  font-family: "Amatic SC", sans-serif;
  font-size: 500%;
}
.logo {
  font-weight: 700;
  font-size: 27px;
}
.text-tomato {
  color: #ce1212;
}
.bg-tomato {
  background-color: #ce1212;
}
.bg-tomato-hover:hover {
  background-color: #ce1212d0;
}
/* Home */
.text {
  font-size: 90%;
}
/* about */
.image img {
  height: 755px;
}
.text-absolute {
  width: 90%;
  bottom: 100px;
  left: 5%;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.fa-circle-play {
  font-size: 80px;
}
.fa-circle-play:hover {
  color: #ce1212eb;
}
/* Learn more */
a .learn-more {
  color: black;
}
.learn-more {
  /* padding: 16px 20px; */
  background-color: #ffffff4d;
  width: 200px;
  height: 40px;
  line-height: 40px;
}
.learn-more a:hover {
  color: #ce1212;
}
.learn-more:hover {
  background-color: white;
}
.second-column {
  padding: 1.25rem;
  transition: 0.5s;
}
.second-column:hover {
  transform: scale(1.1);
}
.text-justify {
  text-align: justify;
}
/* Parallax */
.parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../picture/stats-bg.jpg") center center;
  height: 100%;
  background-size: cover;
  font-size: 30px;
  text-align: center;
  padding: 100px 0px 0px 0px;
  background-attachment: fixed;
}






/* Contact and book a table */
/*--------------------------------------------------------------
# Book A Table Section
--------------------------------------------------------------*/


.book-a-table .reservation-img {
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.book-a-table .reservation-form-bg {
  background: rgba(55, 55, 63, 0.04);
}

.book-a-table .php-email-form {
  padding: 40px;
}

@media (max-width: 575px) {
  .book-a-table .php-email-form {
      padding: 20px;
  }
}

.book-a-table .php-email-form h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.book-a-table .php-email-form h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0 0 0;
}

.book-a-table .php-email-form p {
  font-size: 14px;
  margin-bottom: 20px;
}

.book-a-table .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.book-a-table .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #779b8a;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.book-a-table .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.book-a-table .php-email-form .loading:before {

  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #a6beb3;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.book-a-table .php-email-form input,
.book-a-table .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.book-a-table .php-email-form input:focus,
.book-a-table .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.book-a-table .php-email-form input {
  padding: 12px 15px;
}

.book-a-table .php-email-form textarea {
  padding: 12px 15px;
}
.book-a-table .php-email-form button[type=submit] {
  background: rgb(0, 13, 19);
  border: 0;
  padding: 14px 60px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.book-a-table .php-email-form button[type=submit]:hover {
  background: #ec2727;
}

/*--------------------------------------------------------------
# Contect
--------------------------------------------------------------*/
.section-header{
  padding: 70px;
  text-align: center;
  font-family: 'Amatic SC', sans-serif;
  
  font-size: 50px;
}

.contact .info-item {
   background:  rgb(201, 211, 214) ;
   padding: 30px;
   height: 99%;
}

.contact .info-item .icon {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 56px;
   height: 56px;
   font-size: 24px;
   line-height: 0;
   color: #f8f8f8;
   background: rgb(231, 3, 3);
   border-radius: 50%;
   margin-right: 15px;
}

.contact .info-item h3 {
   font-size: 20px;
   color: #6c757d;
   font-weight: 700;
   margin: 0 0 5px 0;
}

.contact .info-item p {
   padding: 0;
   margin: 0;
   line-height: 24px;
   font-size: 14px;
}

.contact .info-item .social-links a {
   
   font-size: 24px;
   display: inline-block;
   color: rgba(55, 55, 63, 0.7);
   line-height: 1;
   margin: 4px 6px 0 0;
   transition: 0.3s;
}
.contact .php-email-form {
   margin-bottom: 15px;
   width: 100%;
   margin-top: 30px;
   background: #fff;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contact .php-email-form .form-group {
   padding-bottom: 20px;
}

.contact .php-email-form input {
   height: 48px;
}

.contact .php-email-form textarea {
   padding: 10px 12px;
}

.contact .php-email-form button[type=submit]  {
   background : rgb(0, 13, 19);
   border: 0;
   padding: 12px 40px;
   color: #f8fbfd;
   transition: 0.4s;
   border-radius: 40px;
}

.contact .php-email-form button[type=submit]:hover {
   background: #ca0505;
   
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
   font-size: 14px;
   background-color: #000000;
   padding: 50px 0;
   color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
   margin-right: 15px;
   font-size: 24px;
}

.footer h4 {
   font-size: 16px;
   font-weight: bold;
   position: relative;
   padding-bottom: 5px;
   color: #ffffff;
}

.footer .footer-links  {
   margin-bottom: 30px;
}

.footer .footer-links ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.footer .footer-links ul li {
   padding: 10px 0;
   display: flex;
   align-items: center;
}

.footer .footer-links ul li:first-child {
   padding-top: 0;
}

.footer .footer-links ul a {
   color: rgba(255, 255, 255, 0.6);
   transition: 0.3s;
   display: inline-block;
   line-height: 1;
}

.footer .footer-links ul a:hover {
   color: #fff;
}

.footer .social-links a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid rgba(255, 255, 255, 0.2);
   font-size: 16px;
   color: rgba(255, 255, 255, 0.7);
   margin-right: 10px;
   transition: 0.3s;
   transition-property: none;
}

.footer .social-links a:hover {
   color: #fff;
   border-color: #fff;
}

.footer .copyright {
   text-align: center;
   padding-top: 30px;
   border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
   padding-top: 4px;
   text-align: center;
   font-size: 13px;
}

.footer .credits a {
   color: #fff;                                                                                                                                                                                
}
